body{
     color: rgba(60, 79, 118);  
    font-family: Arial, Helvetica, sans-serif; 
    /* background-color: rgba(72, 104, 156); */ 
     overflow-y: hidden; 
     overflow-x: hidden; 
}

.header{
    font-size: 80px;
}

.subtitle{
    font-size: 30px; 
}

.nextButton{
    /*display: none; */ 
    background-color: rgba(60, 79, 118);
    color: rgba(242, 165, 65); 
    border-radius: 0px; 
}

.circle{
    background-color: rgba(221, 219, 241); 
    border-radius: 50%; 
    height: 1800px;   
    width: 900px; 
    transform: rotate(-70deg); /* 30deg */ 
    position: absolute; 
    z-index: 1; 
    top: -500px; 
    right: 400px;   
    z-index: -1; 
} 

.nextButton:hover{
    color: rgb(255, 206, 137); 
    background-color: rgb(104, 154, 255);

}

.nextButton:active{
    color: rgb(255, 230, 195); 
    background-color: rgb(218, 230, 255);

}

/* Remove the scroolbar
  position: absolute;
  top: -200px;
  right: 210px;
  width: 800px;
  height: 1400px;
  border-radius: 50%;
  background: rgba(221,219,241);
  transform: rotate(-50deg);
  z-index: -1;  


   500px   80%* 1000px
   
    900px 200vh  700px 

      30deg  

      1.) Find a way to make the button disappear and reappear
      2.) Get rid of background color problem 
*/ 